<!-- <img src="https://raulalbin.es/public_images/svg-email-up.jpg" width="0" height="0"
    style="width:100%!important;height:100%!important"> -->
<header style="width:70%;margin:0 auto">
    <p style="text-align:center;font-size:1.1rem;font-weight: bold;">${title}</p>
</header>
<main style="width:70%;margin:0 auto;margin-top:10px">
    <p style="text-align: center;font-size:0.9rem">${body}</p>
    <section style="width:90%;margin:0 auto;margin-top:10px">
        <article>
            <p
                style="text-align:center;font-weight: bold;font-size:1.8rem;letter-spacing: 5px;text-decoration:underline;text-underline-offset:5px;text-decoration-color: rgb(60, 114, 185);">
                ${code}</p>
        </article>
    </section>
</main>
<footer style="width: 70%;margin:0 auto;text-align: center;">
    <!-- <p>Un gran saludo,</p> -->
    <p><b>El equipo de eventos</b></p>
</footer>
<!-- <img src="https://raulalbin.es/public_images/svg-email-down.jpg" width="0" height="0"
    style="width:100%!important;height:100%!important"> -->